<div class="row">
  <div class="col-xs-10">
    <shopping-list-editor></shopping-list-editor>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients"
        >{{ingredient.amount}} {{ingredient.name}}</a>
    </ul>
  </div>
</div>
